<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{% block title %}Devnotebook{% endblock %}</title>
        <link>https://devnotebook.fr</link>
        <description>
            Blog d'un développeur web, principalement sur des technos PHP et Javascript, mais pas que.
        </description>

        {% block body %}{% endblock %}
    </channel>
</rss>
