<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Devnotebook{% endblock %}</title>

    <meta name="description" content="Blog d'un développeur web, principalement sur des technos PHP et Javascript, mais pas que." />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/vnd.microsoft.icon" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('prism') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
