{% extends 'base.html.twig' %}

{% block body %}
    <div id="main-container" class="container">
        {% block header %}
            <header class="main-header">
                {% embed 'parts/main_header.html.twig' %}
                {% endembed %}

                {% block bread_crumb %}
                    <nav id="breadcrumb" aria-label="breadcrumb">
                        <ul class="breadcrumb" itemtype="https://schema.org/ItemList">
                            {% block breadcrumb_items %}
                                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                    <a href="{{ path('show_all_articles') }}" itemprop="item">
                                        <span itemprop="name">Accueil</span>
                                    </a>
                                    <meta itemprop="position" content="1" />
                                </li>
                            {% endblock %}
                        </ul>
                    </nav>
                {% endblock %}
            </header>
        {% endblock %}

        {% block main_content %}
            <div class="row">

                <div id="col-left" class="col-lg-4">
                    {% block mid_left %}
                        {% block search_bar %}
                            {% embed 'parts/search_bar.html.twig' %}
                            {% endembed %}
                        {% endblock %}

                        {% block tag_cloud %}
                            {% embed 'parts/tag_cloud.html.twig' %}
                            {% endembed %}
                        {% endblock %}

                        {% block display_parameters %}
                            {% embed 'parts/display_parameters.html.twig' %}
                            {% endembed %}
                        {% endblock %}
                    {% endblock %}
                </div>

                <div id="col-main" class="col-lg-8">
                    {% block mid_right %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        <hr />

        {% block footer %}
            {% embed 'parts/footer.html.twig' %}
            {% endembed %}
        {% endblock %}
    </div>
{% endblock %}
