{% import "parts/macros/article.html.twig" as article_macros %}

<article class="{% block article_css_classes %}unique class-article view-list card{% endblock %}"
         {% block article_microdata_attributes %}itemscope itemtype="https://schema.org/BlogPosting"{% endblock %}>
    <link itemprop="mainEntityOfPage"
          href="{{ path('show_article', {mainTag: article.mainTag, slug: article.slug}) }}" />

    <header class="card-header">
        <h1>
            {{ article_macros.type_icon(article) }}

            {% block content_label %}
                <span itemprop="name headline">{{ article.title }}</span>
            {% endblock %}
        </h1>

        <div class="content-infos">
            <aside itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="name" content="v.nivuahc" />
            </aside>

            {% if article.modifiedAt > article.createdAt %}
                <p class="float-end">
                    <span class="badge bg-info">Modifié le :</span>
                    <time itemprop="dateModified" datetime="{{ article.modifiedAt|date("Y-m-d") }}">
                        {{ article.modifiedAt|date("d/m/Y") }}
                    </time>
                </p>
            {% else %}
                <meta itemprop="dateModified" content="{{ article.modifiedAt|date("Y-m-d") }}" />
            {% endif %}

            <p class="float-end">
                <span class="badge bg-info">Publié le :</span>
                <time itemprop="datePublished" datetime="{{ article.createdAt|date("Y-m-d") }}">
                    {{ article.createdAt|date("d/m/Y") }}
                </time>
            </p>
            <div class="clearfix"></div>
        </div>
    </header>

    {% block article_image %}
        {# TODO: utiliser une image par tag #}
        {#
        <div class="content-image">
            <img src="/2218075860_205c9c1dfe_o.jpg" alt="{{ article.mainTag }}" itemprop="image"/>
        </div>
        #}
    {% endblock %}

    <div class="content-body" itemprop="articleBody">
        {{ article.content|markdown_to_html }}
    </div>

    {% block article_aside %}
        <hr />

        <aside>
            <div class="content-infos">
                {% block version %}
                    {% if article.version is not empty %}
                        <p class="float-end">
                            <span class="badge bg-info">Version :</span>
                            {{ article.version }}
                            <span class="clearfix"></span>
                        </p>
                        <div class="clearfix"></div>
                    {% endif %}
                {% endblock %}

                {% block sources %}
                    {% if article.sources is not empty %}
                        <p class="float-end">
                        <span class="badge bg-info">
                            {{ article.sources|length > 1 ? 'Sources' : 'Source' }} :
                        </span>

                            {% for source in article.sources %}
                                <a href="{{ source.url }}">{{ source.label }}</a>

                                {% if not loop.last %} / {% endif %}
                            {% endfor %}
                        </p>
                        <div class="clearfix"></div>
                    {% endif %}
                {% endblock %}

                {% block tags %}
                    {% if article.tags is not empty %}
                        <p class="float-end">
                            <span class="badge bg-info">Tags :</span>
                            <meta itemprop="keywords" content="{{ article.tags|join(',') }}" />

                            {% for tag in article.tags %}
                                {# Pas de retour à la ligne pour éviter l'espace entre un lien et la virgule #}
                                <a href="{{ path('show_article_by_tag', {tag: tag}) }}"
                                   rel="tag">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <div class="clearfix"></div>
                    {% endif %}
                {% endblock %}
            </div>
        </aside>
    {% endblock %}
</article>
