{% set url = absolute_url(path('show_article', {mainTag: article.tags[0], slug: article.slug})) %}

<item>
    <title>{{ article.title }}</title>
    <link>{{ url }}</link>
    <guid isPermaLink="true">{{ url }}</guid>
    <pubDate>{{ article.createdAt|date("r") }}</pubDate>
    <atom:link href="{{ url }}" rel="self" type="application/rss+xml"/>
</item>
