{% import "parts/macros/article.html.twig" as article_macros %}

<a href="{{ path('show_article', {mainTag: article.tags[0], slug: article.slug }) }}" title="Voir en détail">
    {{ article_macros.type_icon(article) }}
    {{ article.title }}
</a>
