{% macro type_icon(article) %}
    {% if article.type == 'Astuce' %}
        <img
                src="{{ asset('build/images/trick.png') }}"
                alt="{{ article.type }}"
                title="{{ article.type }}"
                width="24"
                height="24"
        />
    {% elseif article.type == 'Erreur' %}
        <img
                src="{{ asset('build/images/error.png') }}"
                alt="{{ article.type }}"
                title="{{ article.type }}"
                width="24"
                height="24"
        />
    {% elseif article.type == 'Marque-page' %}
        <img
                src="{{ asset('build/images/bookmark.png') }}"
                alt="{{ article.type }}"
                title="{{ article.type }}"
                width="24"
                height="24"
        />
    {% endif %}
{% endmacro %}
