{% set pagination = {
    '10': 10,
    '20': 20,
    '50': 50,
    'Tous': 99999,
} %}
{% set currentNbArticlePerPage = nbArticlesPerPage is defined ? nbArticlesPerPage : 10 %}

<div id="display-parameters">
    <span>Nb d'articles par page :</span>
    <div class="btn-group" role="group" aria-label="Nb d'articles par page">
        {% for label, nb in pagination %}
            <a href="{{ path(
                app.request.attributes.get('_route', 'show_all_articles'),
                app.request.attributes.get('_route_params', {})|merge(app.request.query.all|merge({'nbArticlesPerPage': nb }))
            ) }}"
               class="btn btn-sm {{ nb == nbArticlesPerPage ? 'btn-primary' : '' }}">
                {{ label }}
            </a>
        {% endfor %}
    </div>
</div>
