<footer class="footer">
    <div class="container">
        <p class="text-center">
            Créé par <strong class="author">v.nivuahc</strong>
            - licence <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA 4.0</a>
            - code source <a href="https://framagit.org/devnotebook/devnotebook4">Devnotebook</a>
        </p>
    </div>
</footer>
