<div class="page-header">
    <div class="row">
        <div class="title-container col-lg-6">
            <h1>
                <a href="{{ path('show_all_articles') }}">Devnotebook</a>
            </h1>

            <p class="lead">
                <a href="{{ path('show_all_articles') }}">
                    Developer's Blog
                </a>
            </p>
        </div>
    </div>
</div>

