<div id="search-bar">
    <form action="{{ path('search') }}" method="get">
        <label>
            <span>Recherche</span>
            <input id="term" name="term" type="text" />
            <button type="submit" title="Lancer la recherche" class="btn btn-primary btn-sm">
                Go
            </button>
        </label>
    </form>
</div>
