{% if tagCloud is not empty %}
    <div id="cloud-rubrique" class="card">
        <div class="card-header">
            <h1>Tags</h1>
        </div>

        <ul class="inline">
            {% for tag in tagCloud %}
                {% set title = 'Aucun' %}
                {% if tag.nbOfArticles == 1 %}
                    {% set title = '1 article' %}
                {% elseif tag.nbOfArticles > 1 %}
                    {% set title = tag.nbOfArticles ~ ' articles' %}
                {% endif %}

                <li class="size-{{ tag.weight < 4 ? tag.weight : 5 }}">
                    <a href="{{ path('show_article_by_tag', {'tag': tag.name}) }}"
                       title="{{ title }}">
                        {{ tag.name|humanize }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
