{% extends 'base.xml.twig' %}

{% block body %}
    {% for article in articles %}
        {% block article_item %}
            {% embed "parts/article/list.xml.twig" %}
            {% endembed %}
        {% endblock %}
    {% endfor %}
{% endblock %}
