{% extends 'blog/show_all_articles.html.twig' %}

{% block breadcrumb_items %}
    {{ parent() }}

    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <span itemprop="item">
            <span itemprop="name">{{ tag|humanize }}</span>
            <meta itemprop="position" content="2" />
        </span>
    </li>
{% endblock %}

{% block mid_right %}
    <div class="main-content class-category view-full">
        <header>
            {% block full_header_title %}
                <h1>
                    {{ tag|humanize }}
                    <small>
                        (
                        {% if min(nbArticlesPerPage, nbArticles) != nbArticles %}
                            {{ min(nbArticlesPerPage, nbArticles) }} /
                        {% endif %}

                        {% if nbArticles > 1 %}
                            {{ nbArticles }} articles
                        {% else %}
                            {{ nbArticles }} article
                        {% endif %}

                        {% block show_list %}
                            -
                            <a title="Afficher la liste sans le détail"
                               href="{{ path('show_article_by_tag', {tag: tag, view: 'list'}) }}">
                                Voir la liste
                            </a>
                        {% endblock %}
                        )
                    </small>
                </h1>
            {% endblock %}
        </header>
    </div>

    {{ parent() }}
{% endblock %}
