{% extends 'blog/show_articles_by_tag.html.twig' %}

{% block show_list %}
    -
    <a title="Afficher la liste avec le détail"
       href="{{ path('show_article_by_tag', {tag: tag}) }}">
        Voir la liste
    </a>
{% endblock %}

{% block article_item %}
    <div>
        {% embed "parts/article/list.html.twig" %}
        {% endembed %}
    </div>
{% endblock %}
