{% extends 'blog/show_all_articles.html.twig' %}

{% block breadcrumb_items %}
    {{ parent() }}

    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <span itemprop="item">
            <span itemprop="name">Recherche</span>
            <meta itemprop="position" content="2" />
        </span>
    </li>
{% endblock %}

{% block mid_right %}
    <div class="main-content class-category view-full">
        <header>
            {% block full_header_title %}
                <h1>
                    Recherche : "{{ searchTerm }}"
                    <small>
                        (
                        {% if articles|length > 1 %}
                            {{ articles|length }} résultats
                        {% else %}
                            {{ articles|length }} résultat
                        {% endif %}
                        )
                    </small>
                </h1>
            {% endblock %}
        </header>
    </div>

    {{ parent() }}
{% endblock %}

{% block article_item %}
    <div>
        {% embed "parts/article/list.html.twig" %}
        {% endembed %}
    </div>
{% endblock %}
