{% extends 'layout.html.twig' %}

{% block breadcrumb_items %}
    {{ parent() }}

    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{{ path('show_article_by_tag', {tag: article.mainTag}) }}" itemprop="item">
            <span itemprop="name">{{ article.mainTag|humanize }}</span>
            <meta itemprop="position" content="2" />
        </a>
    </li>

    <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <span itemprop="item">
            <span itemprop="name">{{ article.title }}</span>
            <meta itemprop="position" content="3" />
        </span>
    </li>
{% endblock %}

{% block mid_right %}
    <div class="main-content">
        {% embed "parts/article/full.html.twig" %}{% endembed %}
    </div>
{% endblock %}
