{% extends 'layout.html.twig' %}

{% block mid_right %}
    <div class="main-content">
        {% block article_list %}
            <div itemscope itemtype="https://schema.org/ItemList">
                {% for article in articles %}
                    {% block article_item %}
                        {% embed "parts/article/full.html.twig" %}
                            {% set url = path('show_article', {mainTag: article.tags[0], slug: article.slug}) %}
                            {% block article_css_classes %}class-article view-list card{% endblock %}

                            {% block article_microdata_attributes %}
                                {{ parent() }}
                                itemprop="itemListElement"
                            {% endblock %}

                            {% block content_label %}
                                <meta itemprop="url" content="{{ url }}" />
                                <meta itemprop="position" content="{{ loop.index }}" />

                                <a href="{{ url }}" title="Voir en détail" itemprop="name headline">
                                    {{ article.title }}
                                </a>
                            {% endblock %}

                            {% block article_image %}
                                {# TODO: utiliser une image par tag #}
                                {#
                                <meta itemprop="image" content="/2218075860_205c9c1dfe_o.jpg" />
                                #}
                            {% endblock %}

                            {% block article_aside %}{% endblock %}
                        {% endembed %}
                    {% endblock %}
                {% endfor %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
