{% extends 'layout.html.twig' %}

{% block mid_right %}
    <h1>Oopsy ! Page introuvable</h1>

    <p>
        Impossible de trouver la page demandée, vérifiez son URL ou
        <a href="{{ path('show_all_articles') }}">retournez page d'accueil</a>.
    </p>
{% endblock %}